* {
    margin: 0;
    padding: 0;
    }
    
    /* Menu */
    
   
    
    /* Formulario */
    
    label {
        color: white;
        font-family: 'Vollkorn', serif;
   }

   input {
       border: 1px solid white;
       background: none;
   }


   
