* {
    margin: 0;
    padding: 0;
    }
    
    /* Menu */
    
    #sinLink {
        font-family: 'DM Serif Display', serif;
        font-style: italic;
        opacity: 100%;
    }
    
    .colorLinks {
        color: white;
        display: inline;  
        opacity: 50%;  
    }
    
     a {
    font-family: 'DM Serif Display', serif;
    text-decoration: none;
    color: white;
    opacity: 50%;
    } 
    
    /* Lista de Compositores */
    
    div {
        border: 1px solid white;
        display: inline-block;
        padding: 40px;
        margin: 20px;
        }

    h2 {
        font-family: 'DM Serif Display', serif;
        color: white;
       }
       
       p {
           font-family: 'Vollkorn', serif;
           line-height: 1.1;
           color: white;
       }

       .compositores {
height: 200px;
width: 200px;

       }
    
    
    /* Fondo */
    
    body {
    background-image: url(../imagenes/Fondo.jpg);
    }
    
    /* Footer */
    
    footer {
    color: white;
    font-family: 'Vollkorn', serif;
    margin-left: 500px;
        } 
        