
$colores: (
primario: #DB4C48,
secundario: white,
terciario: #BFAB8E,
);

/* Footer */   

footer {
    color: map-get($colores , terciario );
    font-family: 'Vollkorn', serif;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 50px;
        }