
* { margin: 0;
    padding: 0;}

/* Formulario */  

 form {
    label, h3 {color: white; font-family: 'Vollkorn', serif;};  
    input {border: 1px solid white; background: none};
    button {font-family: 'Vollkorn', serif;}
}


