    /* Galeria */

    .container img {
        width: 100%;
    }
     
    .container .col-lg-2 {
    padding: 5px;
     
    }

      /* Animacion */
  
     .episodiosAnimacion {
        transition: all 1s;
        &:hover {
            transform: scale(0.3, 0.3);
            opacity: 0;
            } 
        
            }