

@mixin style ($color, $fontSize) {
color: $color;
font-size: $fontSize;
}
    

#sinLink {
    font-family: 'DM Serif Display', serif;
    font-style: italic;
    }   

    .colorLinks {
 @include style(white, 15px);    
    display: inline;    
}
    
 a {
font-family: 'DM Serif Display', serif;
text-decoration: none;
color: white;
opacity: 50%;
} 