

/* Textos */
 

h1 {
    font-family: 'DM Serif Display', serif;
    color: #E14C48;
    text-align: center;
   }
   
h2 {
    font-family: 'DM Serif Display', serif;
    color: white;
    text-align: center;
   }

p {
    font-family: 'Vollkorn', serif;
    line-height: 1.1;
    color: white;
    text-align: center;
}
